<div class="lead">
  <div class="lead fs-3 text-decoration-underlinex">Date Pipe</div>
  <div>Date Pipes are used to modify the date format. All the supported formats are given on the website Angular.io</div>
  <div class="my-3 fw-bold">
    Example : <br>
    <!-- {{currentDate | date : 'short'}} <br> -->
    <!-- {{currentDate | date : 'medium'}} <br> -->
    <!-- {{currentDate | date : 'full'}} <br> -->
    <!-- {{currentDate | date : 'shortTime'}} <br> -->
    <!-- {{currentDate | date : 'fullDate'}} <br> -->
  </div>
  <div class="m-4">
    There are many more Pipes. Do refer online
  </div>
</div>