<div *ngIf="recipeList == null || recipeList == undefined">
  <div class="d-flex justify-content-center my-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div class="container" [hidden]="!listLoaded">
  <div class="row bg-body my-5 px-4 rounded border">
    <div class="text-center display-5 my-4">List of All Recipes</div>
    <div class="my-3 text-center">
      <button class="btn btn-success" (click)="addRecipe()">Add Recipe</button>
    </div>
    <app-recipe-card  [recipeList]="recipeList"></app-recipe-card>
  </div>
</div>